/* website/static/styles/projects/public_projects.css */

.project-card {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 1px 3px #9b9b9b;
    border-radius: 5px;
    height: 300px;
    overflow: hidden;
}

.project-card:hover {
    box-shadow: 0 4px 10px #4d4d4d;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 45px;
    overflow-y: auto;
}

.card-text {
    font-size: 16px;
    margin-bottom: 15px;
    height: 130px;
    overflow-y: auto;
}

.card-footer {
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
