/* static/styles/edit_profile.css */

form {
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #006ee4;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #00438b;
}

.img-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    display: flex;
}

#delete-photo-btn {
    margin-top: 10px;
}

.btn-delete {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e40000;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
}

.btn-delete:hover {
    background-color: #b30000;
}

#delete-photo-form {
    position: fixed;
    top: 86.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%;
}
