<!-- website/templates/projects/create_task.html -->
{% extends "_base.html" %} {% block css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/card_form.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h1 class="card-title text-center">Create Task</h1>
                </div>
                <div class="card-body">
                    <form
                        method="POST"
                        action="{{ url_for('projects.create_task', project_id=project.id) }}"
                    >
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="name">Task Name</label>
                            {{ form.name(class="form-control") }} {% for error
                            in form.name.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="description">Task Description</label>
                            {{ form.description(class="form-control") }} {% for
                            error in form.description.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="status">Task Status</label>
                            {{ form.status(class="form-control") }} {% for error
                            in form.status.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <input
                            type="hidden"
                            name="project_id"
                            value="{{ project.id }}"
                        />
                        <button type="submit" class="btn btn-primary btn-block">
                            Create
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
