<!-- website/templates/projects/project_details.html -->
{% extends "_base.html" %} {% block css %} {{ super() }}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/projects/project_details.css') }}"
/>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Details</h5>
                    <p><strong>Name:</strong> {{ project.name }}</p>
                    <p><strong>Owner:</strong> {{ project_creator.email }}</p>
                    <p><strong>Visibility:</strong> {{ project.visibility }}</p>
                    <p class="prject-description">
                        <strong>Description:</strong> {{ project.description }}
                    </p>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Members</h5>
                    <ul class="list-group">
                        {% for member in project_members %}
                        <li class="list-group-item">
                            <div class="member-details">
                                {% if member.profile %}
                                <img
                                    src="{{ url_for('static', filename='upload_folder/' + member.profile.photo if member.profile.photo else 'upload_folder/default_photo.jpg') }}"
                                    alt="Member Avatar"
                                    class="img-avatar"
                                />
                                {% endif %}
                                <span
                                    >{{ member.user.email }} - {{ member.role
                                    }}</span
                                >
                                {% if is_owner and member.user.id !=
                                current_user.id %}
                                <form
                                    method="POST"
                                    action="{{ url_for('projects.remove_member_from_project', project_id=project.id, member_id=member.user.id) }}"
                                >
                                    {{ form.hidden_tag() }}
                                    <button
                                        type="submit"
                                        class="btn btn-danger btn-sm mt-2"
                                    >
                                        Remove Member
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="project-name">{{ project.name }}</h1>
            <h2 class="mt-4">Tasks</h2>
            <ul class="list-group">
                {% for task in project.tasks %}
                <li class="list-group-item">
                    <div class="task-details">
                        <a
                            href="{{ url_for('projects.view_task_details', project_id=project.id, task_id=task.id) }}"
                            class="task-link"
                            >{{ task.name }}</a
                        >
                        <p><strong>For:</strong> {{ task.role }}</p>
                        <p><strong>Status:</strong> {{ task.status }}</p>
                        {% if can_edit %}
                        <div class="task-actions">
                            <a
                                href="{{ url_for('tasks.edit_task', task_id=task.id) }}"
                                class="btn btn-primary btn-sm"
                                >Edit</a
                            >
                            <form
                                method="POST"
                                action="{{ url_for('tasks.delete_task', task_id=task.id) }}"
                                style="display: inline-block"
                            >
                                {{ form.hidden_tag() }}
                                <input
                                    type="hidden"
                                    name="_method"
                                    value="DELETE"
                                />
                                <button
                                    type="submit"
                                    class="btn btn-danger btn-sm"
                                >
                                    Delete
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% if is_owner %}
            <div class="mt-4">
                <a
                    href="{{ url_for('projects.create_task', project_id=project.id) }}"
                    class="btn btn-success"
                    >Add Task</a
                >
                <a
                    href="{{ url_for('projects.edit_project', project_id=project.id) }}"
                    class="btn btn-primary"
                    >Edit Project</a
                >
                <form
                    method="POST"
                    action="{{ url_for('projects.delete_project', project_id=project.id) }}"
                    style="display: inline-block"
                >
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger">
                        Delete Project
                    </button>
                </form>
            </div>
            {% endif %} {% if is_member and not is_owner %}
            <form
                method="POST"
                action="{{ url_for('projects.leave_project', project_id=project.id) }}"
            >
                {{ send_request_form.hidden_tag() }}
                <button type="submit" class="btn btn-danger mt-4">
                    Leave Project
                </button>
            </form>
            {% endif %} {% if not is_owner and not is_member %}
            <div class="mt-4">
                <form
                    id="join_request_form"
                    method="POST"
                    action="{{ url_for('projects.send_request', project_id=project.id) }}"
                >
                    {{ send_request_form.hidden_tag() }}
                    <div class="form-group">
                        <label for="message">Message:</label>
                        {{ send_request_form.message(class="form-control") }} {%
                        for error in send_request_form.message.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="role">Role:</label>
                        {{ send_request_form.role(class="form-control") }} {%
                        for error in send_request_form.role.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input
                            type="hidden"
                            name="sender_id"
                            value="{{ current_user.id }}"
                        />
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">
                        Send Join Request
                    </button>
                </form>
            </div>
            {% endif %} {% if is_owner %}
            <div class="mt-4">
                <form
                    method="POST"
                    action="{{ url_for('projects.invite_member', project_id=project.id) }}"
                >
                    {{ invite_member_form.hidden_tag() }}
                    <div class="form-group">
                        <label for="email">Enter User Email:</label>
                        {{ invite_member_form.email(class="form-control") }} {%
                        for error in invite_member_form.email.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="role">Select User Role:</label>
                        {{ invite_member_form.role(class="form-select") }} {%
                        for error in invite_member_form.role.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">
                        Invite
                    </button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
