{% extends "_base.html" %} {% block css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/project_details.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center">Project Details</h1>
                </div>
                <div class="card-body">
                    <h3 class="project-name">{{ project.name }}</h3>
                    <p class="project-description">{{ project.description }}</p>

                    <h2>Tasks:</h2>
                    <ul class="list-group">
                        {% for task in project.tasks %}
                        <li class="list-group-item">
                            <div class="task-details">
                                <div class="task-name">{{ task.name }}</div>
                                <div class="task-description">
                                    {{ task.description }}
                                </div>
                                <div class="task-status">{{ task.status }}</div>
                                <div class="task-actions">
                                    <a
                                        href="{{ url_for('tasks.edit_task', task_id=task.id) }}"
                                        class="btn btn-primary btn-sm"
                                        >Edit</a
                                    >
                                    <form
                                        method="POST"
                                        action="{{ url_for('tasks.delete_task', task_id=task.id) }}"
                                        style="display: inline-block"
                                    >
                                        {{ form.hidden_tag() }}
                                        <input
                                            type="hidden"
                                            name="_method"
                                            value="DELETE"
                                        />
                                        <button
                                            type="submit"
                                            class="btn btn-danger btn-sm"
                                        >
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                    <div class="mt-3">
                        <a
                            href="{{ url_for('projects.edit_project', project_id=project.id) }}"
                            class="btn btn-primary"
                            >Edit Project</a
                        >
                        <form
                            method="POST"
                            action="{{ url_for('projects.delete_project', project_id=project.id) }}"
                            style="display: inline-block"
                        >
                            {{ form.hidden_tag() }}
                            <input
                                type="hidden"
                                name="_method"
                                value="DELETE"
                            />
                            <button type="submit" class="btn btn-danger">
                                Delete Project
                            </button>
                        </form>
                        <a
                            href="{{ url_for('projects.create_task', project_id=project.id) }}"
                            class="btn btn-success"
                            >Add Task</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
