{% extends "_base.html" %} {% block css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/project_requests.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
    <h1 class="mb-4 text-center">Requests and Invites</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="requests-section">
                <h2>Outgoing Requests</h2>
                {% if outgoing_requests %}
                <ul class="list-group">
                    {% for request in outgoing_requests %}
                    <li class="list-group-item">
                        <div class="request-details">
                            <p>
                                <strong>Project:</strong> {{
                                request.project.name }}
                            </p>
                            <p><strong>Status:</strong> {{ request.status }}</p>
                            <p><strong>Role:</strong> {{ request.role }}</p>
                        </div>
                        <div class="request-actions">
                            <p class="outgoing-text">Outgoing</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="no-requests">You have no outgoing requests.</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="requests-section">
                <h2>Incoming Requests</h2>
                {% if incoming_requests %}
                <ul class="list-group">
                    {% for request in incoming_requests %}
                    <li class="list-group-item">
                        <div class="request-details">
                            <p>
                                <strong>Project:</strong> {{
                                request.project.name }}
                            </p>
                            <p><strong>Status:</strong> {{ request.status }}</p>
                            <p><strong>Role:</strong> {{ request.role }}</p>
                        </div>
                        <div class="request-actions">
                            <form
                                method="POST"
                                action="{{ url_for('projects.accept_join_request', request_id=request.id) }}"
                            >
                                {{ accept_form.csrf_token }}
                                <input
                                    type="hidden"
                                    name="sender_id"
                                    value="{{ request.sender_id }}"
                                />
                                <input
                                    type="hidden"
                                    name="sender_type"
                                    value="{{ request.sender_type }}"
                                />
                                <input
                                    type="hidden"
                                    name="role"
                                    value="{{ request.role }}"
                                />
                                <button type="submit" class="btn btn-success">
                                    Accept
                                </button>
                            </form>
                            <form
                                method="POST"
                                action="{{ url_for('projects.reject_join_request', request_id=request.id) }}"
                            >
                                {{ reject_form.csrf_token }}
                                <input
                                    type="hidden"
                                    name="sender_id"
                                    value="{{ request.sender_id }}"
                                />
                                <input
                                    type="hidden"
                                    name="sender_type"
                                    value="{{ request.sender_type }}"
                                />
                                <button type="submit" class="btn btn-danger">
                                    Reject
                                </button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="no-requests">You have no incoming requests.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
