{% extends "_base.html" %} {% block css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/projects/projects.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 created-projects">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">Created Projects</h2>
                </div>
                <div class="card-body">
                    {% if created_projects %}
                    <ul class="list-group list-group-flush">
                        {% for project in created_projects %}
                        <li class="list-group-item">
                            <h5>{{ project.name }}</h5>
                            <p>{{ project.description }}</p>
                            <a
                                href="{{ url_for('projects.project_details', project_id=project.id) }}"
                                class="btn btn-sm btn-outline-primary"
                                >View</a
                            >
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="text-muted">
                        You haven't created any projects yet.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 member-projects">
                <div class="card-header bg-success text-white">
                    <h2 class="card-title">Member Projects</h2>
                </div>
                <div class="card-body">
                    {% if member_projects %}
                    <ul class="list-group list-group-flush">
                        {% for project in member_projects %}
                        <li class="list-group-item">
                            <h5>{{ project.name }}</h5>
                            <p>{{ project.description }}</p>
                            <a
                                href="{{ url_for('projects.project_details', project_id=project.id) }}"
                                class="btn btn-sm btn-outline-success"
                                >View</a
                            >
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="text-muted">
                        You are not a member of any projects.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <a
        href="{{ url_for('projects.create_project') }}"
        class="btn btn-primary mt-4"
        >Create New Project</a
    >
</div>
{% endblock %}
