<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/base/navigation.css') }}"
/>

<header class="p-3">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="{{ url_for('core.home') }}" class="nav-link"
                            >Home</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="{{ url_for('projects.projects') }}"
                            class="nav-link"
                            >Your projects</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="{{ url_for('projects.public_projects') }}"
                            class="nav-link"
                            >Open projects</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="{{ url_for('projects.join_requests') }}"
                            class="nav-link"
                            >Requests</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="{{ url_for('accounts.profile') }}"
                            class="nav-link"
                            >Profile</a
                        >
                    </li>
                </ul>
                <div class="text-end">
                    {% if current_user.is_authenticated %}
                    <a
                        href="{{ url_for('accounts.logout') }}"
                        class="btn btn-danger me-2"
                        >Logout</a
                    >
                    {% else %}
                    <a
                        href="{{ url_for('accounts.login') }}"
                        class="btn btn-outline-light me-2"
                        >Login</a
                    >
                    <a
                        href="{{ url_for('accounts.register') }}"
                        class="btn btn-success"
                        >Sign up</a
                    >
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>
